name: CI

on: [ push, pull_request ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Use JDK 11
            uses: actions/setup-java@v2
            with:
                java-version: '11'
                distribution: 'adopt'
                cache: maven
          - name: Build
            run: mvn --update-snapshots --batch-mode verify -Dmaven.javadoc.skip=true -Dmaven.source.skip=true
          - name: Upload artifact
            run: mkdir staging && cp target/*.jar staging
          - uses: actions/upload-artifact@v2
            with:
                name: Package
                path: staging
